@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  background-color: blueviolet;
}

.my-name{
  color:white;
  margin: 20% auto;
  width: 400px;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;

  animation: 15s linear infinite running text-rotate;
}

@keyframes text-rotate {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}